{% extends 'html/head.html' %}
{% block title %}CRUD OPERATION{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="card col-md-4 md-5 mx-2">
			<form method="POST" >

				{% csrf_token %}
				<h3 class="bg-secondary text-center text-light p-2">update Item</h3>
		 		<table class="table table-borderless">
		 			{% for j in d %}
		 			<tr>
		 				<td>{{j}}</td>
		 			</tr>
		 			{% endfor %}
		 		</table>
		 		<input type="submit" value="update product" class="form-control btn btn-success btn-block my-2">
		 	</form>
				
</div>

</div>
</div>
{% endblock %}